# Deployment mode: `local` or `github`
DEPLOYMENT_MODE=local

# Add your Web / URL ingestion tokens (Optional)
# JIRA_API_ENCODED_TOKEN=
# CONFLUENCE_API_TOKEN=

# RAGaaS API Configuration
RAGAAS_API_URL=https://api.example-ragaas.com/v1
RAGAAS_API_KEY=your_ragaas_api_key

# OpenAI Compatible LLM API Configuration
OPENAI_API_KEY=your_llm_api_key
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL_NAME=gpt-4o
